# ------------------------------------------------------------
#   Linux
# ------------------------------------------------------------
*~

# ------------------------------------------------------------
#   npm
# ------------------------------------------------------------
node_modules
npm-debug.log

# ------------------------------------------------------------
#   framework
# ------------------------------------------------------------
/config.php
var/cache/*
var/error-report/*.txt
var/session/sess_*
var/*.log
var/*.ini
var/*.txt
home/media/*
